Repository EricavanderSar/rl4pnc-survey: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

.pre-commit-config.yaml:

default_stages: [commit, push]
fail_fast: true

repos:
  - repo: local
    hooks:
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: black
        name: formatting
        entry: black
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: isort
        name: import-fixing
        entry: isort
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: autoflake
        name: lint-fixing
        entry: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --expand-star-imports
          - --ignore-init-module-imports
          - --recursive
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: pylint
        name: lint-checking-pylint
        entry: pylint
        files: "^(src|scripts)"
        language: python
        types: [ python ]
      - id: flake8
        name: lint-checking-flake8
        entry: flake8
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: mypy
        name: type-checking
        entry: mypy src
        pass_filenames: false
        language: python
        types: [ python ]

Bugfix adjust paths in jobs for snellius
  agent_evaluation.sh
  create_act_space.sh
  run_agent_analysis.sh
  train_ppo_baseline.sh
Due: none

Tennet (N-1) Action Space case 14 sandbox.
  data/action_spaces/l2rpn_case14_sandbox/tennet.json
  scripts/agent_evaluation.py
  scripts/develop_action_spaces.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Creating visualizations etc in Agent_evaluation.ipynb
  Agent_evaluation.ipynb
  agent_evaluation.sh
  configs/l2rpn_case14_sandbox/heuristics_configs.yaml
Due: none

Adding extra columns of data in agent evaluation'
  Agent_evaluation.ipynb
Due: none

Agent_evaluation table updates
  Agent_evaluation.ipynb
  agent_evaluation.sh
Due: none

Run PPO baseline for review paper with medha (N-0) action space
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  scripts/agent_evaluation.py
  scripts/analyze_agent_behaviour.py
  scripts/evaluate_custom_model.py
  src/rl4pnc/evaluation/evaluation_metrics.py
  src/rl4pnc/evaluation/utils.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Update visualizations Agent_evaluation.ipynb
  Agent_evaluation.ipynb
Due: none

Bugfix reset topo training and evaluation + Bugfix update WandB in train_ppo_baseline.sh
  agent_evaluation.sh
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  pyproject.toml
  scripts/agent_evaluation.py
  scripts/develop_action_spaces.py
  src/rl4pnc/evaluation/evaluation_agents.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Combine rulebased actions with agent actions, instead of doing multiple actions in one step.
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/rl4pnc/grid2op_env/custom_env2.py
  src/rl4pnc/grid2op_env/custom_environment.py
  src/rl4pnc/grid2op_env/hierarchical_envs_tennet.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Add configurations for training with opponent
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  scripts/train_ppo_baseline.py
  scripts/update_wandb.py
  src/rl4pnc/grid2op_env/utils.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adjusted reconnect lines function to allign with HeuristicAgent in evaluation_agents
  scripts/update_wandb.py
  src/rl4pnc/grid2op_env/custom_environment.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adjusted reconnect lines function to allign with HeuristicAgent in evaluation_agents (add reconnect count)
  src/rl4pnc/grid2op_env/custom_environment.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Script to summerize the data after evaluation has run
  scripts/summarize_evaluation_data.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Multiple agent analysis for RL agents that have been trained.
  run_agent_analysis.sh
  scripts/agent_evaluation.py
  scripts/multiple_agent_analysis.py
  scripts/summarize_evaluation_data.py
  scripts/train_ppo_baseline.py
  src/rl4pnc/evaluation/evaluation_agents.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Train with opponent for longer period (500.000)
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Adjust job agent_evaluation to get summarized data
  agent_evaluation.sh
Due: none

Adjust job agent_evaluation to get summarized data - 2 bugfixes
  agent_evaluation.sh
  scripts/summarize_evaluation_data.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Bugfix agent evaluation, for agents with opponent during training.
  scripts/agent_evaluation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Setup eval for Greedy with assym action space + extra metric completed episodes
  agent_evaluation.sh
  configs/l2rpn_case14_sandbox/heuristics_configs.yaml
  scripts/summarize_evaluation_data.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adding small action space of d3qn2022 for tests with small space
  agent_evaluation.sh
  configs/l2rpn_case14_sandbox/heuristics_configs.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  data/action_spaces/l2rpn_case14_sandbox/d3qn2022.json
  notebooks/SurveyPaper_OverviewTables.ipynb
  scripts/train_ppo_baseline.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Bugfix running without opponent params
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Ugly quickfix to run multiple agent analysis again. (TODO: reverse)
  notebooks/SurveyPaper_OverviewTables.ipynb
  scripts/multiple_agent_analysis.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Bugfix remove opponent params from training rl agent
  scripts/agent_evaluation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Remove filter and run multiple agent analysis for agents trained with opponent
  notebooks/SurveyPaper_OverviewTables.ipynb
  run_agent_analysis.sh
  scripts/multiple_agent_analysis.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Retest PPO baseline without value function clipping param (default = 10)
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Retest PPO baseline without value function clipping param (default = 10) - BUGFIX wrong folder + wrong action space :')
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
Due: none

Run with opponent with action spaces d3qn2022 and assym
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Run agent analysis for trained agent action space d3qn2022 with opponent
  notebooks/SurveyPaper_Boxplots.ipynb
  notebooks/SurveyPaper_OverviewTables.ipynb
  notebooks/SurveyPaper_TrainingCurves.ipynb
  run_agent_analysis.sh
Due: none

New structure for observation convertion in environment - still to clean up
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  data/scaling_arrays/l2rpn_case14_sandbox/gen_p.npy
  scripts/generate_scaling_array.py
  src/rl4pnc/grid2op_env/custom_environment.py
  src/rl4pnc/grid2op_env/observation_converter.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Setup experiments for observation spaces
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/rl4pnc/grid2op_env/custom_environment.py
  src/rl4pnc/grid2op_env/observation_converter.py
  src/rl4pnc/grid2op_env/utils.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adding day of year to observation for exp + minor bugfix
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/rl4pnc/grid2op_env/observation_converter.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adjust two incorrect settings to default (actspace medha, no opponent)
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Remove print statements...
  src/rl4pnc/grid2op_env/custom_environment.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adding history option to the observation
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/rl4pnc/grid2op_env/custom_environment.py
  src/rl4pnc/grid2op_env/observation_converter.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adjust Update WandB.
  scripts/update_wandb.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Setup evaluation for observation experiments
  notebooks/SurveyPaper_TrainingCurves.ipynb
  run_agent_analysis.sh
  scripts/update_wandb.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Bugfix input order observation space during evaluation, make sure it is the same as RLlib uses. + option to use best checkpoint instead of last
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  notebooks/SurveyPaper_OverviewTables.ipynb
  notebooks/SurveyPaper_TrainingCurves.ipynb
  scripts/agent_evaluation.py
  scripts/multiple_agent_analysis.py
  scripts/summarize_evaluation_data.py
  src/rl4pnc/evaluation/evaluation_agents.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Test print ray tmp dir
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/SurveyPaper_TrainingCurves.ipynb
  src/rl4pnc/experiments/utils.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Add debug file
  Debug_Ray.py
  Test_job.sh
Due: mypy
