Repository EricavanderSar/rl4pnc-survey: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

.pre-commit-config.yaml:

default_stages: [commit, push]
fail_fast: true

repos:
  - repo: local
    hooks:
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: black
        name: formatting
        entry: black
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: isort
        name: import-fixing
        entry: isort
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: autoflake
        name: lint-fixing
        entry: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --expand-star-imports
          - --ignore-init-module-imports
          - --recursive
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: pylint
        name: lint-checking-pylint
        entry: pylint
        files: "^(src|scripts)"
        language: python
        types: [ python ]
      - id: flake8
        name: lint-checking-flake8
        entry: flake8
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: mypy
        name: type-checking
        entry: mypy src
        pass_filenames: false
        language: python
        types: [ python ]

Bugfix found for jobs with ray_init()
  Debug_Ray.py
  Test_job.sh
  train_ppo_baseline.sh
Due: mypy

Run agent analysis again Due to TIME LIMIT issue last time
  run_agent_analysis.sh
  scripts/multiple_agent_analysis.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

New reward function + penalty + finish high rw
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/SurveyPaper_OverviewTables.ipynb
  notebooks/SurveyPaper_TrainingCurves.ipynb
  src/rl4pnc/experiments/rewards.py
  src/rl4pnc/experiments/yaml.py
  src/rl4pnc/grid2op_env/custom_environment.py
  src/rl4pnc/grid2op_env/utils.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

New reward function + penalty + finish high rw
  train_ppo_baseline.sh
Due: none

Setup to run action spaces agian
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/SurveyPaper_OverviewTables.ipynb
  notebooks/SurveyPaper_TrainingCurves.ipynb
  scripts/multiple_agent_analysis.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adding ConstantReward function
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/rl4pnc/experiments/rewards.py
  src/rl4pnc/experiments/yaml.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adding ConstantReward function adjust batchscript and config
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Setup for Activation Thresh exp
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Added zipping function for episode data after evaluation.
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/SurveyPaper_TrainingCurves.ipynb
  scripts/agent_evaluation.py
  scripts/multiple_agent_analysis.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

New: Line reconnect and disconnect option during training and adjust disconnection rule in Heuristic evaluation_agents.py
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/SurveyPaper_TrainingCurves.ipynb
  src/rl4pnc/evaluation/evaluation_agents.py
  src/rl4pnc/experiments/callback.py
  src/rl4pnc/grid2op_env/custom_env2.py
  src/rl4pnc/grid2op_env/custom_environment.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

New: Line reconnect and disconnect option during training (jobscript update)
  train_ppo_baseline.sh
Due: none

Setup for reset topo experiments
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/SurveyPaper_OverviewTables.ipynb
  notebooks/SurveyPaper_TrainingCurves.ipynb
  train_ppo_baseline.sh
Due: none

Setup for reset topo experiments - bugfix
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  src/rl4pnc/grid2op_env/custom_environment.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Adjust rounding custom metrics and retest line switching
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/rl4pnc/experiments/callback.py
  src/rl4pnc/grid2op_env/custom_environment.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

New Curriculum learning functionality
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/SurveyPaper_OverviewTables.ipynb
  notebooks/SurveyPaper_TrainingCurves.ipynb
  src/rl4pnc/algorithms/custom_ppo.py
  src/rl4pnc/experiments/callback.py
  src/rl4pnc/grid2op_env/custom_environment.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

SHIT: Did not use the right PPO params for training without opponent
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Run AT experiment for different durations
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/SurveyPaper_OverviewTables.ipynb
  notebooks/SurveyPaper_TrainingCurves.ipynb
  src/rl4pnc/experiments/utils.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Setup combined best experiment
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Setup combined best experiment - with tuning
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/rl4pnc/experiments/utils.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Setup combined best experiment - with tuning - opponent
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Setup combined best experiment - with tuning bugfix
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Setup combined best experiment - with tuning bugfix - opponent
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Setup combined best experiment - with tuning bugfix
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/rl4pnc/grid2op_env/custom_environment.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Setup combined best experiment - with tuning bugfix - opponent
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
Due: none

Setup combined best experiment - opponent
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Setup combined best experiment - Rainbow Agent - Opp
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Long training with opponent baseline
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Setup combined best experiment - Rainbow Agent - wrong hyperparam
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
Due: none

Setup combined best experiment - Rainbow Agent - wrong hyperparam
  train_ppo_baseline.sh
Due: none

Initial commit
  LICENSE
Due: none

Some updates based on test run, a few additions to readme
  LICENSE
  README.md
  pyproject.toml
  src/rl4pnc/experiments/yaml.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Update readme with paper and some extra cleanup repo
  README.md
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  notebooks/Figures_env_interact.ipynb
  notebooks/SurveyPaper_Boxplots.ipynb
  notebooks/SurveyPaper_OverviewTables.ipynb
  notebooks/SurveyPaper_TrainingCurves.ipynb
  scripts/agent_evaluation.py
  scripts/train_ppo_baseline.py
  src/rl4pnc/experiments/yaml.py
  src/rl4pnc/grid2op_env/custom_env2.py
  src/rl4pnc/grid2op_env/observation_converter.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Small bugfix
  scripts/train_ppo_baseline.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy
