Repository EricavanderSar/rl4pnc-survey: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

.pre-commit-config.yaml:

default_stages: [commit, push]
fail_fast: true

repos:
  - repo: local
    hooks:
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: black
        name: formatting
        entry: black
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: isort
        name: import-fixing
        entry: isort
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: autoflake
        name: lint-fixing
        entry: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --expand-star-imports
          - --ignore-init-module-imports
          - --recursive
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: pylint
        name: lint-checking-pylint
        entry: pylint
        files: "^(src|scripts)"
        language: python
        types: [ python ]
      - id: flake8
        name: lint-checking-flake8
        entry: flake8
        files: "^(src|test|scripts)"
        language: python
        types: [ python ]
      - id: mypy
        name: type-checking
        entry: mypy src
        pass_filenames: false
        language: python
        types: [ python ]

Test with Prio difficult episodes
  configs/rte_case14_realistic/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Test similar results without gymenv step and reset - No line reconnection etc
  configs/rte_case14_realistic/ppo_baseline_batchjob.yaml
  src/mahrl/grid2op_env/custom_environment.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Increase eval frequency
  configs/rte_case14_realistic/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Adding action space medha with DN for Case14_sandbox
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  data/action_spaces/l2rpn_case14_sandbox/medha.json
  data/action_spaces/l2rpn_case14_sandbox/medha_DN.json
  scripts/develop_action_spaces.py
  scripts/train_ppo_baseline.py
  src/mahrl/experiments/action_spaces.py
  src/mahrl/grid2op_env/custom_environment.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

make HRL training compatible for also larger networks
  configs/l2rpn_case14_sandbox/single_network_PPO_MAE_medha.yaml
  configs/l2rpn_case14_sandbox/single_network_PPO_MAE_medha_reversed.yaml
  configs/l2rpn_case14_sandbox/single_network_PPO_MAE_tennet.yaml
  configs/l2rpn_icaps_2021_large/single_network_PPO_MAE_tennet.yaml
  configs/l2rpn_icaps_2021_large/single_network_PPO_MAE_tennet_two_days.yaml
  configs/rte_case14_realistic/multi_network_MAE_medha.yaml
  configs/rte_case14_realistic/single_network_PPO_MAE_medha.yaml
  configs/rte_case14_realistic/single_network_PPO_MAE_medha_filtered.yaml
  configs/rte_case14_realistic/single_network_PPO_MAE_medha_two_days.yaml
  configs/rte_case14_realistic/single_network_PPO_MAE_tennet.yaml
  configs/rte_case14_realistic/single_network_PPO_SAE_medha.yaml
  configs/rte_case5_example/single_network_PPO_MAE_tennet.yaml
  configs/rte_case5_example/single_network_PPO_MAE_tennet_per_day.yaml
  data/action_spaces/l2rpn_case14_sandbox/asymmetry.json
  data/action_spaces/l2rpn_case14_sandbox/medha.json
  data/action_spaces/l2rpn_case14_sandbox/medha_reversed.json
  data/action_spaces/l2rpn_case14_sandbox/tennet.json
  data/scaling_arrays/l2rpn_case14_sandbox/load_p.npy
  data/scaling_arrays/l2rpn_case14_sandbox/p_ex.npy
  data/scaling_arrays/l2rpn_case14_sandbox/p_or.npy
  scripts/evaluate_custom_model.py
  scripts/train_ppo_hrl.py
  src/mahrl/evaluation/evaluation_agents.py
  src/mahrl/experiments/utils.py
  src/mahrl/experiments/yaml.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Added function to generate mean/max/min data for normalization
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  data/scaling_arrays/l2rpn_case14_sandbox/all_load_p_max.npy
  data/scaling_arrays/l2rpn_case14_sandbox/all_load_p_mean.npy
  data/scaling_arrays/l2rpn_case14_sandbox/all_load_p_min.npy
  data/scaling_arrays/l2rpn_case14_sandbox/all_p_ex_max.npy
  data/scaling_arrays/l2rpn_case14_sandbox/all_p_ex_mean.npy
  data/scaling_arrays/l2rpn_case14_sandbox/all_p_ex_min.npy
  data/scaling_arrays/l2rpn_case14_sandbox/all_p_or_max.npy
  data/scaling_arrays/l2rpn_case14_sandbox/all_p_or_mean.npy
  data/scaling_arrays/l2rpn_case14_sandbox/all_p_or_min.npy
  data/scaling_arrays/l2rpn_case14_sandbox/load_p.npy
  data/scaling_arrays/l2rpn_case14_sandbox/load_p_mean.npy
  data/scaling_arrays/l2rpn_case14_sandbox/p_ex.npy
  data/scaling_arrays/l2rpn_case14_sandbox/p_ex_mean.npy
  data/scaling_arrays/l2rpn_case14_sandbox/p_or.npy
  data/scaling_arrays/l2rpn_case14_sandbox/p_or_mean.npy
  data/scaling_arrays/l2rpn_icaps_2021_large/load_p.npy
  data/scaling_arrays/l2rpn_icaps_2021_large/p_ex.npy
  data/scaling_arrays/l2rpn_icaps_2021_large/p_or.npy
  data/scaling_arrays/rte_case5_example/load_p.npy
  data/scaling_arrays/rte_case5_example/p_ex.npy
  data/scaling_arrays/rte_case5_example/p_or.npy
  scripts/generate_scaling_array.py
  src/mahrl/grid2op_env/custom_environment.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Added function to generate mean/max/min data for normalization
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
Due: none

Test with GPU
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Test let RLlib determine resources
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Use Medha actionspace with DN for Sandbox
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Test without p_ex and p_or of lines
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/grid2op_env/utils.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Test new_env (observationspace with history) with adjustments
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

adjusted VF params for case 14 realistic
  configs/rte_case14_realistic/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Tunning with the extended observation space
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  scripts/train_ppo_baseline.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

increased flexibility to run all hrl architectures from command line, implemented argmax
  configs/l2rpn_case14_sandbox/single_network_PPO_MAE_medha.yaml
  configs/l2rpn_case14_sandbox/single_network_PPO_MAE_medha_reversed.yaml
  scripts/train_ppo_hrl.py
  src/mahrl/experiments/utils.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/grid2op_env/utils.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Additional input power of line ends and new params
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
Due: none

Additional input power of line ends and new params - adj resources
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Test NewFCN one more time
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  scripts/train_ppo_baseline.py
  src/mahrl/models/linear_model.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Test old_env with new params
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Get all changes wrt HRL agent from Barbera
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  scripts/train_ppo_hrl.py
  src/mahrl/evaluation/evaluation_agents.py
  src/mahrl/experiments/utils.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/grid2op_env/utils.py
  src/mahrl/models/mlp.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Use Prio
  configs/l2rpn_case14_sandbox/ppo_baseline.yaml
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  src/mahrl/grid2op_env/custom_environment.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

more flexibility from env-side and better path linking
  scripts/train_ppo_hrl.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

first version of prioritized episodes
  configs/l2rpn_case14_sandbox/single_network_PPO_MAE_medha.yaml
  configs/rte_case5_example/single_network_PPO_MAE_tennet_per_day.yaml
  pyproject.toml
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/grid2op_env/utils.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Use Prio with adj params
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Retest Best param Case14 without prio (stopped early)
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Test case 36 with maintenance in Obs, using new_env obs and maxmin norm
  configs/l2rpn_case14_sandbox/ppo_baseline_batchjob.yaml
  configs/l2rpn_icaps_2021_large/ppo_baseline_batchjob.yaml
  configs/l2rpn_icaps_2021_small/ppo_baseline.yaml
  src/mahrl/grid2op_env/observation_converter.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

more work on value RL
  configs/rte_case5_example/ppo_baseline.yaml
  configs/rte_case5_example/ppo_baseline_with_opponent.yaml
  configs/rte_case5_example/ppo_hrl_with_opponent.yaml
  configs/rte_case5_example/single_network_PPO_MAE_tennet.yaml
  scripts/generate_per_day_scenarios.py
  scripts/train_ppo_hrl.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

wip: some progress
  configs/rte_case5_example/single_network_PPO_MAE_tennet_per_day.yaml
  scripts/experiments_yaml.py
  scripts/train_ppo_custom.py
  src/mahrl/experiments/action_spaces.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

wip: two policies using the same model
  scripts/train_ppo_hrl.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

new script
  scripts/train_ppo_rlv.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

wip: fixed value agent
  scripts/train_ppo_rlv.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

modular components fixed again, all able to run from command line
  configs/l2rpn_case14_sandbox/opponent_single_network_PPO_MAE_medha_reversed.yaml
  configs/l2rpn_case14_sandbox/single_network_PPO_MAE_medha_reversed_per_day.yaml
  configs/rte_case5_example/RL_RL_PPO.yaml
  configs/rte_case5_example/RL_capa_PPO.yaml
  configs/rte_case5_example/RL_random_PPO.yaml
  configs/rte_case5_example/RLv_RLv_PPO.yaml
  configs/rte_case5_example/RLv_argmax_PPO.yaml
  configs/rte_case5_example/greedy_RL_PPO.yaml
  configs/rte_case5_example/single_network_PPO.yaml
  scripts/train_ppo_custom.py
  scripts/train_ppo_hrl.py
  scripts/train_ppo_rlv.py
  src/mahrl/evaluation/evaluation_agents.py
  src/mahrl/evaluation/utils.py
  src/mahrl/grid2op_env/custom_environment.py
  src/mahrl/grid2op_env/utils.py
  src/mahrl/multi_agent/policy.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Tune case 36 parameters
  configs/l2rpn_icaps_2021_large/ppo_baseline_batchjob.yaml
  train_ppo_baseline.sh
Due: none

Tune case 36 parameters - Remove printing statements
  configs/l2rpn_icaps_2021_large/ppo_baseline_batchjob.yaml
  scripts/train_ppo_baseline.py
  src/mahrl/algorithms/custom_ppo.py
  train_ppo_baseline.sh
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Testing Bug subs with Shunt
  scripts/train_ppo_hrl.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, trailing-whitespace-fixer, black, isort, autoflake, pylint, flake8, mypy

Testing Bug subs with Shunt
  Bug_testing.py
Due: mypy
